#enter_online{margin-right: 10%; margin-left: 10%; margin-bottom:5%; margin-top:2%;}
#enter_online p{font-size: 17px; color: #006738;margin-top: 3%;font-weight: bold;}
#fine-uploader-manual-trigger{margin: 2% 10% 2% 10%;}
#header h3{text-align: center;}
#header p{font-size: 17px; color: #006738; font-weight: bold; margin-top: 2%;}
#header span{color: red;}
#enter_online2_btn{margin-left: 10%; margin-bottom:10%;}
