#user_details h3{color: #006738; margin-top: 20px; margin-bottom: 20px;}
#user_details h4{display:inline; font-size:17px;color: #006738;}
#user_details p{display:inline; font-size:15px;color: #006738;}
#user_details div{margin-top: 10px;}
#user_details button{margin-top: 20px; margin-bottom: 50px;}
#user_details{margin-left: 20%;}