
#main-contents{margin-left: 10%; margin-right: 10%; margin-bottom: 5%;}
#main-contents h3{text-align: center;}
#main-contents p{font-size: 17px;}
#main-contents select{margin-bottom: 10px;}

.question{color: #1B813E;}
.answer{color: #1E88A8;}