#story-rules{margin-top: 5%; margin-bottom: 3%; margin-left: 10%; margin-right: 10%;}
#story-rules h3{text-align: center;}
#story-rules p{font-size: 17px;}

#poem-rules{margin-bottom: 5%; margin-left: 10%; margin-right: 10%;}
#poem-rules h3{text-align: center;}
#poem-rules p{font-size: 17px;}