#introduction{margin-left: 10%; margin-right: 10%; margin-bottom: 5%;}
#introduction h3{text-align: center; margin-bottom:3%; margin-top:3%;}
#introduction p{font-size: 17px;}
#notice{font-weight: bold;}